---
import '../styles/global.css';
// Component Imports
import Header from '@/components/Header.astro';
import Home from '@/components/pages/Home.tsx';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<Header />
		<div class="grid place-items-center h-screen content-center">
			<Home />
		</div>
	</body>
</html>
